*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 10vh min-content;
  position: relative;
  min-height: 100vh;
  border: 2x solid yellow;
  background-color: #161722;
  transition: 1s all ease-in-out; }
  .container::after {
    content: "";
    background-image: url(../images/bg-desktop-dark.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 65vh); }
  .container .nav-dark {
    display: none; }
  .container .nav-light {
    display: block; }

.container-2 {
  background-color: #fff; }
  .container-2::after {
    content: "";
    background-image: url(../images/bg-desktop-light.jpg);
    background-size: cover;
    background-position: center; }
  .container-2 .nav-dark {
    display: block; }
  .container-2 .nav-light {
    display: none; }

.container .container__main {
  grid-column: 4 / span 6;
  grid-row: 2 / -1;
  border: 1px solid red;
  position: relative;
  min-height: 50vh;
  padding: 2rem 2rem;
  z-index: 1000;
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 37.5em) {
    .container .container__main {
      grid-column: 1 / span 12; } }
  .container .container__main--nav {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem; }
    .container .container__main--nav-img {
      cursor: pointer; }
  .container .container__main .app-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .container .container__main .app-details .task-number {
      display: flex; }
      .container .container__main .app-details .task-number .number {
        margin-right: 0.3rem; }
    .container .container__main .app-details .user-menu {
      display: flex; }
      @media only screen and (max-width: 37.5em) {
        .container .container__main .app-details .user-menu {
          display: none; } }
      .container .container__main .app-details .user-menu__details:not(:last-child) {
        margin-right: 1rem; }
  .container .container__main .user-menu--mobile {
    display: none;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 37.5em) {
      .container .container__main .user-menu--mobile {
        display: flex; } }

.container .container__main {
  margin: 0 5rem; }
  @media only screen and (max-width: 37.5em) {
    .container .container__main {
      margin: 0rem 1rem; } }
  .container .container__main--nav h1 {
    margin-right: auto;
    letter-spacing: 1rem; }
  .container .container__main--input-task {
    background-color: #25273c;
    display: flex;
    align-items: center;
    border-radius: 0.5rem; }
    .container .container__main--input-task .create-task {
      width: 100%;
      padding: 1.3rem 1rem;
      background-color: transparent;
      border: none;
      margin-left: 1.5rem; }
      .container .container__main--input-task .create-task:focus {
        outline: none; }
    .container .container__main--input-task .btn-task {
      height: 20px;
      width: 20px;
      border: 1px solid #777a92;
      padding: 1rem;
      margin-left: 1.2rem;
      border-radius: 50%;
      cursor: pointer; }
  .container .container__main--todo-list {
    background-color: #25273c;
    margin-top: 2rem;
    border-radius: 0.5rem;
    min-height: 15vh; }
    .container .container__main--todo-list .enter-task {
      display: block;
      text-align: center;
      padding: 2rem 2rem; }
    .container .container__main--todo-list li {
      list-style-type: none;
      padding: 1.5rem 0;
      display: flex;
      align-items: center;
      border-bottom: 0.001rem solid #777a92; }
      .container .container__main--todo-list li .list-item--task {
        display: flex;
        margin-right: auto;
        align-items: center; }
      .container .container__main--todo-list li p {
        color: #cacde8; }
      .container .container__main--todo-list li img {
        margin-right: 2rem;
        height: 2rem;
        width: 2rem;
        display: none; }
        @media only screen and (max-width: 37.5em) {
          .container .container__main--todo-list li img {
            display: block; } }
      .container .container__main--todo-list li .btn-list {
        height: 20px;
        width: 20px;
        border: 1px solid #777a92;
        padding: 1rem;
        margin-left: 1.2rem;
        border-radius: 50%;
        cursor: pointer; }
      .container .container__main--todo-list li p {
        margin-left: 1rem; }
  .container .container__main .app-details {
    margin: 1.5rem 1.2rem;
    color: #777a92; }
  .container .container__main .user-menu--mobile {
    background-color: #25273c;
    color: #777a92;
    margin-top: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 0.5rem; }
    .container .container__main .user-menu--mobile__details:not(:last-child) {
      margin-right: 1rem; }

.btn-list-change {
  background-image: linear-gradient(to right bottom, rgba(87, 221, 255, 0.5), rgba(192, 88, 243, 0.5)), url(../images/icon-check.svg);
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat; }

.container__main--nav h1 {
  font-size: 3rem;
  color: #fff; }

.container__main--todo-list .enter-task {
  color: #777a92;
  font-size: 1.3rem;
  letter-spacing: 0.2rem; }

.container__main .app-details {
  font-size: 1.2rem; }
  .container__main .app-details .user-menu__details {
    cursor: pointer;
    transition: 0.2s ease-in-out; }
    .container__main .app-details .user-menu__details:hover {
      color: #3a7bfd; }

.container__main .user-menu--mobile {
  font-size: 1.2rem; }
  .container__main .user-menu--mobile__details {
    cursor: pointer;
    transition: 0.2s ease-in-out; }
    .container__main .user-menu--mobile__details:hover {
      color: #3a7bfd; }
