*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: min-content;
  background-color: red;
  position: relative;
  border: 2x solid yellow; }

.background-img {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  border: 1px solid green;
  height: 100%; }

.container__main {
  grid-column: 1 / -1;
  grid-row: 1 / 2; }
