//PRIMARY COLOR
$app-primary-color: hsl(220, 98%, 61%);
$app-linear-bg: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

//DARK THEME
$bg-dark: hsl(235, 21%, 11%);
$bg-app-dark: hsl(235, 24%, 19%);
$color-text-dark: hsl(234, 39%, 85%);
$color-text-dark-hover: hsl(236, 33%, 92%);
$list-cancel-color: hsl(234, 11%, 52%);
$dark-shadow: hsl(233, 14%, 35%);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; //1rem = 10px
}

body {
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 10vh min-content;

  position: relative;
  min-height: 100vh;
  border: 2x solid yellow;
  background-color: $bg-dark;
  transition: 1s all ease-in-out;

  &::after {
    content: "";
    background-image: url(../images/bg-desktop-dark.jpg);
    background-size: cover;
    background-position: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 65vh);
  }
  .nav-dark {
    display: none;
  }
  .nav-light {
    display: block;
  }
}

.container-2 {
  background-color: #fff;

  &::after {
    content: "";
    background-image: url(../images/bg-desktop-light.jpg);
    background-size: cover;
    background-position: center;
  }

  .nav-dark {
    display: block;
  }
  .nav-light {
    display: none;
  }
}
